@import url("https://fonts.googleapis.com/css?family=Raleway");



body {
	/* font-family: "Open Sans", sans-serif; */
  font-family: 'Noto Sans JP', sans-serif;
  font-size: var(--body_font_size);
  color: var(--body_color);
  margin: 0;
  padding: 0;
  overflow-x:hidden;

  /* COLORS */
  --accent_color : rgba(7, 39, 145, 0.904);
  --btn_color : #37A;
  --gallery_color: var(--accent_color);
  --body_color: #474646;
  --navbar_font_color: #369;

  /* BUTTONS */
  --btn_radius : 6px;
  
  /* FONT SIZE */
  --body_font_size : 1.2rem;
  --blockquote_font_size : 1.2rem;
  --navbar_font_size : 1.7rem;
  --section_title_font_size : 2.6rem;
  --tm_big_font_size : 1.05rem;
  --tm_primary_font_size: 1.6rem;
  --intro_text_font_size : 1.2rem;
  --event_text_font_size : 1.2rem;
  --section_desc_font_size : 1.2rem;
}


header {
  padding: 156px 0 100px;
}

/* section {
} */



a {
  transition: all 0.3s ease;
  color: var(--accent_color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.btn {
  padding: 8px 20px;
}

/* .btn:hover {
  background-color: #ced4da;
} */

.sign-up-btn{
  border: solid white 3px;
  margin-top: -0.2rem;
}

blockquote {
  font-size: var(--blockquote_font_size);
  line-height: 1.8em;
  text-align: center;
  color: white;
}

.tm-section-pad-top {
  padding: 40px;
  padding-bottom: 80px;
  background-color: white;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  width: 100vw;
  
}
 
.tm-content-box {
  align-items: center;
} 

.tm-text-primary {
  color: #37A;
  font-size: var(--tm_primary_font_size);
  padding-top: 1.5rem;
}

.tm-font-big {
  font-size: var(--tm_big_font_size);
}

.tm-btn-primary {
  color: white;
  background-color: var(--btn_color);
  border-radius: var(--btn_radius);
  padding: 14px 20px;
  position: relative;

}

.tm-btn-primary:hover{
  color: white;
  background-color: var(--accent_color);
}

.tm-btn-outline{
  background-color: white;
  border: var(--btn_color) solid 2px;
  color: var(--btn_color);
  box-shadow: inset 0px 0px 0px 2px var(--btn_color);
}

.tm-btn-outline:hover{
  background-color: white;
  border: var(--accent_color) solid 2px;
  box-shadow: inset 0px 0px 0px 2px var(--accent_color);
  color: var(--accent_color);
}

/* Navbar */

.tm-navbar {
  position: fixed;
  letter-spacing: 1.4px;
  width: 100%;
  padding: 10px;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.3s ease;
}

.tm-navbar.scroll {
  background-color: white;
  border-bottom: 1px solid #e9ecef;
}

/* navbar always appears. doesn't change when scrolling */
.tm-navbar.set { 
  background-color: white;
  border-bottom: 1px solid #e9ecef;
  color: var(--navbar_font_color);;
}

.navbar-brand {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: var(--navbar_font_size);
  font-weight: bold;
}

.navbar-brand.set{
  color: var(--accent_color);
}

.navbar-brand:hover,
.tm-navbar.scroll .navbar-brand:hover {
  color: var(--accent_color);
}

.tm-navbar.scroll .navbar-brand {
  color: var(--navbar_font_color);;
}

.nav-item {
  list-style: none;
}

.tm-nav-link {
  color: white;
}

.tm-navbar.scroll .tm-nav-link {
  color: var(--navbar_font_color);;
}

.tm-navbar.scroll .tm-nav-link:hover,
.tm-navbar.scroll .tm-nav-link.current,
.tm-nav-link:hover {
  color: #FFF;
  background-color: var(--accent_color);
}

.navbar-toggler {
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-toggler-icon {
  color: white;
  padding-top: 6px;
}

.tm-navbar.scroll .navbar-toggler {
  border: 1px solid #707070;
}

.tm-navbar.scroll .navbar-toggler-icon {
  color: #707070;
}

/* Hero */

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 2;
  min-width: 100%;
  /* min-height: 100%; */
}

#home {
	background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 375px;
  position: relative;
}

@media (min-height: 600px) and (min-width: 1920px) {
  #home {
    background-size: cover;
  }
}

@media (min-height: 830px) {
  #home {
    background-position: center -210px;
  }
}

@media (min-height: 680px) and (max-height: 829px) {
  #home {
    background-position: center -300px;
  }
}

@media (min-height: 500px) and (max-height: 679px) {
  #home {
    background-position: center -400px;
  }
}

@media (max-height: 499px) {
  #home {
    background-position: center -450px;
  }
}

.tm-hero-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  position: relative;
  justify-content: center;
}

.tm-hero-text-container-inner {
  margin-top: -90px;
}
.title-container{
  margin-top: rem;
  margin-bottom: 3rem;

}
.tm-hero-title {
  font-size: 15vh;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  letter-spacing: 20px;
  color: white;
  margin: 0;
  text-shadow: 1px 1px 2px black, 0 0 25px var(--accent_color), 0 0 5px darkblue;
  
}
.tm-hero-title-subtext{
  font-size: 7vh;
  font-weight: lighter;
  font-family: 'Assistant', sans-serif;  
  letter-spacing: 4px;
  text-shadow: 1px 1px 2px yellow, 0 0 25px blue, 0 0 5px darkgoldenrod
}

.tm-hero-subtitle {
  font-size: 5vh;
  text-shadow: 2px 2px 2px rgb(27, 27, 27);
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Assistant', sans-serif;  
  margin: 0;
}

.tm-intro-next {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

@media (max-height: 480px) {
  .tm-hero-text-container-inner {
    margin-top: -40px;
  }

  .tm-intro-next {
    bottom: 20px;
  }
}

.rocket{
  position:flex;
}

/* Upcoming */

#upcoming {

  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: rgba(255, 255, 255, 0.404);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
} 


.upcoming-events{
  background-color: white;
  position: relative;
}

.upcoming-container{
  display: grid;
  grid-template-columns: 46% 46%;
  grid-column-gap: 8%;
  padding-right: 10vw;
  padding-left: 10vw;
  padding-top : 2vh;
  padding-bottom : 10vh;
  border-radius: 10pt;
} 
.upcoming-title{
  grid-column-start: 1;
  grid-column-end: 3;
}
.tm-section-title {
  font-size: var(--section_title_font_size);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Assistant', sans-serif;  

  text-align: center;
  padding-top: 3rem;
}

.tm-intro-text {
  font-size: var(--intro_text_font_size);
  padding-left: 3vw;
  padding-right: 3vw;
}

.tm-event-text {
  font-size: var(--event_text_font_size);
}

.tm-icon {
  display: block;
  color: #37A;
}

.tm-continue {
	padding: 20px 0 30px 0;
}



/* Testimonials */
#testimonials {
  color: white;
  background-image: url(../img/infinite-loop-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

@media (max-width: 991px) {
  #testimonials {
    background-image: url(../img/infinite-loop-02-mobile.jpg);
  }
}

.tm-testimonials-content {
  position: relative;
  z-index: 100;
 
}

.tm-bg-overlay {
  width: 100%;
  height: 100%;
  background: rgba(20, 70, 80, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}


.tm-testimonials-carousel {
  max-width: 95%;
  margin: 0 auto;
}

.tm-testimonial-item {
  max-width: 290px;
  margin-left: 35px;
  margin-right: 35px;
}

.tm-testimonial-item img {
  border-radius: 50%;
  margin-bottom: 35px;
  object-fit: cover;
  width:200px;
  height: 200px;
  min-height: 200px;
}

/* Sign Up */
#sign-up {
  color: white;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}


/* Professors (Gallery) */

.tm-section-desc {
  /* max-height: 650px;
  width: auto; */
  font-size: var(--section_desc_font_size);
}

.tm-gallery-container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.tm-gallery-item {
  object-fit: fill;
  /* max-height:250px; */
  /* max-width:100%; */
  height: 260px;
  width: auto;
}

.slick-dots {
  bottom: -65px;
}

.slick-dots li {
  margin: 0 13px;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before,
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #3ba0dd;
}

.tm-testimonials-carousel .slick-dots li button:before {
  color: white;
  opacity: 0.5;
}

.tm-testimonials-carousel .slick-dots li button:hover:before,
.tm-testimonials-carousel .slick-dots li button:focus:before,
.tm-testimonials-carousel .slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 18px;
}

/* Hover Effect */
/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  font-size: 0.9em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 00;
  font-size: 1rem;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Honey *****/
/*---------------*/

figure.effect-honey {
  background: var(--gallery_color);
  max-width: 220px;
}

figure.effect-honey img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-honey:hover img {
  opacity: 0.4;
}

figure.effect-honey figcaption::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #38C;
  content: "";
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

figure.effect-honey h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em 1.5em;
  width: 100%;
  text-align: left;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey h2 i {
  font-style: normal;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey figcaption::before,
figure.effect-honey h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2,
figure.effect-honey:hover h2 i {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.tm-container-gallery {
	padding-top: 30px;
	}

/* Contact */

#contact {
  color: white;
  background-color: #001828;
  background-image: url(../img/infinite-loop-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 980px;
  position: relative;
  padding-bottom: 50px;
  padding-top: 100px;
  
}

.tm-container-contact{
  display: flex;
  justify-items: center;
  margin-right: 10vw;
  margin-left: 10vw;

}


.tm-input {
	margin: 0 0 20px 0;
	width: 90%;
  padding: 8px 20px;
  border-radius: 6px;
  border: 1px solid white;
  background: transparent;
  color: white;
}

.tm-btn-submit {
	font-size: 0.9em;
	color: #fff;
	background-color: var(--navbar_font_color);
  padding-right: 5vw;
  padding-left: 5vw;
	margin-bottom: 60px;
}

.tm-btn-submit:hover {
	color: #fff;
	background-color: var(--accent_color);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.tm-footer {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  padding: 0 15px;
}

.tm-footer a {
	color: #fff;
}

.tm-footer a:hover {
	color: #9CF;
}

.tm-footer-link {
  color: white;
}

.tm-footer-link:hover,
.tm-footer-link:focus {
  color: var(--accent_color);
  text-decoration: none;
}

p {
  line-height: 1.9;
}

@media (min-width: 768px) {
  .tm-intro-text-container {
    position: center;

  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 4px;

  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1275px;
  }

  .tm-container-gallery {
    max-width: 1290px;
  }

  .tm-container-contact {
    max-width: 1063px;
  }
}

@media (max-width: 991px) {
  .tm-intro-text-container {
    padding: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-intro-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-btn-submit {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    max-width: 200px;
    text-align: right;
  }

  .navbar-collapse {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 3px;
  }

  .navbar-collapse .nav-link {
    color: #707070;
	padding-right: 20px;
  }
}

@media (max-width: 480px) {
  
  .tm-gallery-container {
    margin-left: auto;
    margin-right: auto;
  }


  .slick-dots li {
    margin: 0 8px;
  }

  .tm-gallery-item {
    margin: 0;
  }
}

.tm-event-container{
  padding-top: 6rem;
  height: auto;

}

.tm-event-video{
    position: relative;
    width: 80%;
    margin: 10%;
    height: 90vh;
}

@media (max-width: 991px) {
  .tm-event-video{
  height: 50vh;
  width: 80vw;
  margin: 10vw;
  }
}

@media (max-width: 767px) {
  .tm-event-video{
    height: 60vh;
    width: 80vw;
    margin: 10vw;
  }
  }


  .student-rep-container{
    margin-top: 4rem;
    display: flex;
  justify-content: center;
  }