

body, input {
    font-family: "Lato", sans-serif;
    margin: 0px;
}


.title{
    font-family: 'Baloo Tamma 2',sans-serif;
    margin-top: -40px;
    margin-bottom: 100px;
    font-stretch: semi-expanded;
}

.container {
    position: absolute;
    width: 90vw;
    margin-left: 5vw;
    padding-top: 8vh; 
    text-align: center;
    padding-bottom: 10vh;
}

.joinContainer {
    position: absolute;
    width: 40vw;
    margin-left: 30vw;
    top: 200px;
    text-align: center;
    transition: transform 2s;
}

.joinContainerMove{
    transform: translateY(-150px);
    position: relative;
}


header>h1{
    font-size: 35px;
}

h2{
    font-size: 60px;
    text-transform: uppercase;
    position: relative;
    font-stretch: semi-expanded;
}

.options {
    margin-top: 40px;
}





/**
* input information
* text-bar when player is asked to enter name
*/ 
input[type=text]{
    width: 170px;
    height: 25px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    padding: 3px 10px;
    border: 2px solid rgba(0, 0, 0, 0.533);
    border-radius: 5px;
    margin: 15px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

input[type=text]:focus, input[type=text]:hover{
    background-color: rgba(0,0,0,.02);
    outline: none;
    border-color:purple;
    color: rgba(0, 0, 0, 0.9);
}



/**
*buttons
*/ 

.button a, .button, input{
    margin-top: 15px;
    padding: 5px;
    font-size: 25px;
    font-weight: 350;

    color:tomato;
    text-decoration: none;
    transition: color 0.5s;
    transition: text-shadow 20ms;
}

.button a:hover, button:hover, input:hover {
    color:rgba(170, 0, 170, 0.959);
    /*text-shadow: 0 0 8px orangered;*/
}

input:focus{
    outline: none;
    animation: click 20ms;
    transform: text-shadow(0 2px 2px rgba(143, 137, 143, 0.527));
}

@keyframes click{
    0%, 100%{
        transform:translate(0,0);
    }
    50%{
        transform:translate(0,5px);
    }
}
/**
* linked button when starting new game or resetting
* input[type = button, submit, reset] 
*/ 

input {
    background-color: white;
    border: none;
    padding: 0;
    text-decoration: none;
    margin:0;
    cursor: pointer;  
}


/**
*Oranges animation
*/

.orangeImg{
    margin: auto;
    width: 500px;
    animation:
        nudge 7s ease-in-out infinite alternate;
    /*transition: animation-duration 3s; */
    animation-direction: alternate;
}

.orangeImg:hover{
    animation-timing-function: ease-in-out;
    animation-duration: 2.5s;
}

@keyframes nudge {
    0%, 40%, 100% {
      transform: translate(0, 0);
    }
    
    25% {
      transform: translate(0, -80px);
    }
    
    72% {
      transform: translate(0, -120px);
    }
  }

/*
box where players submit round submission
*/
  #responseBar{
    position: relative;
    top: 90px;
    width: 20vw;
    height: 13vh;
    font-size: 30px;
    padding: 10px 15px;
    border: 3px solid rgba(255, 153, 0, 0.404);
    border-radius: 6px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    outline: none;
    margin: 65px;
    /*box-shadow: 0 0 10px rgba(170, 0, 170, 0.29);*/
    transition: border-color .5s;
}

#responseBar:hover{
    /*box-shadow: 0 0 20px rgba(105, 64, 105, 0.759);*/
    border-color: rgba(255, 153, 0, 0.804);
    outline: none;
}

/**
solid button
*/ 
#submitAns, #StartGameButton{
    padding: 5px 10px;
    border: 1px solid transparent;
    font-size: 22px;
    background-color: rgba(255, 99, 71, 0.873);
    border-radius: 8px;
    color: white;
    transition: background-color .5s;
    margin: 30px;
}

#submitAns:hover, #StartGameButton:hover{
    background-color: rgb(255, 94, 30);
}


.playersContainer{
    text-align: center;
    margin-top: 2vh;
    width: 40vw;
    margin-left: 30vw;
    visibility: hidden;
    opacity: 0;
    transition: opacity 3s;
}

.fadeIn {
    visibility: visible;
    opacity: 1;
}